* {
    margin: 10px;
}
body {
    background-color:black;
    font-family: arial;
    color: white;
}
h1{
    color:grey;
    font-family: verdana;
}

.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}
#rate {
    margin-left: 30px;
}
button {
    line-height: 1.5em;
    font-size: 1em;
}

